
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.contact-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.name{
    font-size:x-large;
    font-weight: bold;
}

/* .icons-edit {
    margin-left: auto;
} */